* { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: rgb(9,86,85); }
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a img, fieldset { border: 0; }
cite{font-style:normal;}
ul, li { list-style: none; }
/*header开始*/
header { height: 96px; 1px solid; }
.header_top { height: 100px; border-bottom: #4684be 4px solid; repeat-x; }
.logo { float: left; display: inline; width: 400px; height: 36px; margin: 22px 0px 0; background: url(../images/logo.png) no-repeat; }
/*header_tip*/
.header_tip { float: right; margin-right: 10px; height: 22px; line-height: 22px; }
.header_tip li { float: left; height: 22px;  repeat-x; }
.header_tip li.header_tipl { width: 11px; no-repeat; }
.header_tip li.header_tipr { width: 11px; no-repeat; }
.header_tip_a { float: left; color: #fff; padding-left: 24px; margin-right: 6px; }
/*form*/
.formbody{padding:10px 400px; background:#fff; height: 100%;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px; clear:both;}
.forminfo li p{ font-size: 30px; color:rgb(9,86,85);}
.forminfo li label{width:86px;line-height:34px; display:block; float:left; color:rgb(9,86,85)}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfo li cite{display:block; padding-top:10px;}
.dfinput{width:363px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.textinput{border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba; background:url(../images/inputbg.gif) repeat-x; padding:10px; width:504px; height:135px; line-height:20px; overflow:hidden;}
.btn{width:137px;height:35px; background:url(../images/btnbg.png) no-repeat; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;}
.formbody p{font-size: 30px; color:rgb(9,86,85);}
.formbody label{width:86px;line-height:34px; display:block; float:left; color:rgb(9,86,85)}
.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;color:#dc4e00;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}